<h1> Hello <%=@admin.email%> </h1>
<%= link_to 'Edit Profile', '#' %> | 
<%= link_to 'Orders', '#' %> | 
<%= link_to 'Campaigns', '#' %> | 
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
